<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.coordinatorlayout.widget.CoordinatorLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/primaryDarkColor&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:fitsSystemWindows</span><span class="s2">=&quot;true&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/activity_main&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;androidx.viewpager2.widget.ViewPager2</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/pager&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">app:layout_behavior</span><span class="s2">=&quot;@string/appbar_scrolling_view_behavior&quot;</span><span class="s0">/&gt;</span>


    <span class="s0">&lt;com.google.android.material.appbar.AppBarLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:theme</span><span class="s2">=&quot;@style/Theme.RaveLocator.NoActionBar&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;com.google.android.material.appbar.CollapsingToolbarLayout</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/toolbar_layout&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">app:layout_scrollFlags</span><span class="s2">=&quot;scroll|enterAlways&quot;</span>
            <span class="s1">app:toolbarId</span><span class="s2">=&quot;@id/toolbar&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;com.google.android.material.appbar.MaterialToolbar</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/toolbar&quot;</span>
            <span class="s1">style</span><span class="s2">=&quot;@style/Widget.MaterialComponents.Toolbar.Primary&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;?attr/actionBarSize&quot;</span>
            <span class="s1">app:contentInsetStart</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">app:layout_collapseMode</span><span class="s2">=&quot;parallax&quot;</span><span class="s0">&gt;</span>

<span class="s4">&lt;!--            &lt;androidx.appcompat.widget.SearchView--&gt;</span>
<span class="s4">&lt;!--                android:id=&quot;@+id/search&quot;--&gt;</span>
<span class="s4">&lt;!--                android:layout_width=&quot;match_parent&quot;--&gt;</span>
<span class="s4">&lt;!--                android:layout_height=&quot;match_parent&quot;--&gt;</span>
<span class="s4">&lt;!--                app:iconifiedByDefault=&quot;false&quot;--&gt;</span>
<span class="s4">&lt;!--                android:background=&quot;@color/colorPrimary&quot;--&gt;</span>
<span class="s4">&lt;!--                app:queryHint=&quot;Type sum shit&quot;/&gt;--&gt;</span>
            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;?attr/actionBarSize&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;?attr/actionBarSize&quot;</span>
                <span class="s1">android:paddingLeft</span><span class="s2">=&quot;41dp&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/primaryTextColor&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/bebasneue&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;@string/app_name&quot;</span>
                <span class="s1">android:textAppearance</span><span class="s2">=&quot;?attr/textAppearanceHeadline5&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/com.google.android.material.appbar.MaterialToolbar&gt;</span>


        <span class="s0">&lt;/com.google.android.material.appbar.CollapsingToolbarLayout&gt;</span>

            <span class="s0">&lt;com.google.android.material.tabs.TabLayout</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tab_layout&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@color/primaryColor&quot;</span>
                <span class="s1">app:tabTextColor</span><span class="s2">=&quot;@color/primaryTextColor&quot;</span>
                <span class="s1">app:tabIconTint</span><span class="s2">=&quot;@color/primaryTextColor&quot;</span>
                <span class="s1">app:tabIndicatorColor</span><span class="s2">=&quot;@color/secondaryColor&quot;</span><span class="s0">/&gt;</span>


    <span class="s0">&lt;/com.google.android.material.appbar.AppBarLayout&gt;</span>


<span class="s0">&lt;/androidx.coordinatorlayout.widget.CoordinatorLayout&gt;</span>


</pre>
</body>
</html>