<html>
<head>
<title>activity_splash.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_splash.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.SplashActivity&quot;</span>
    <span class="s0">&gt;</span>

<span class="s4">&lt;!--    &lt;ImageView--&gt;</span>
<span class="s4">&lt;!--        android:id=&quot;@+id/splash_image&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_width=&quot;wrap_content&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_height=&quot;wrap_content&quot;--&gt;</span>
<span class="s4">&lt;!--        android:scaleType=&quot;fitCenter&quot;--&gt;</span>
<span class="s4">&lt;!--        android:src=&quot;@drawable/ravelocator_icon&quot;--&gt;</span>
<span class="s4">&lt;!--        app:layout_constraintBottom_toBottomOf=&quot;parent&quot;--&gt;</span>
<span class="s4">&lt;!--        app:layout_constraintEnd_toEndOf=&quot;parent&quot;--&gt;</span>
<span class="s4">&lt;!--        app:layout_constraintStart_toStartOf=&quot;parent&quot;--&gt;</span>
<span class="s4">&lt;!--        app:layout_constraintTop_toTopOf=&quot;parent&quot; /&gt;--&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/icon_inner&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;110dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;110dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@mipmap/ravelocator_icon_inner_foreground&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

<span class="s4">&lt;!--    &lt;ImageView--&gt;</span>
<span class="s4">&lt;!--        android:id=&quot;@+id/icon_outer&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_width=&quot;200dp&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_height=&quot;200dp&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_gravity=&quot;center&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_marginTop=&quot;0dp&quot;--&gt;</span>
<span class="s4">&lt;!--        app:layout_constraintBottom_toBottomOf=&quot;parent&quot;--&gt;</span>
<span class="s4">&lt;!--        app:layout_constraintEnd_toEndOf=&quot;parent&quot;--&gt;</span>
<span class="s4">&lt;!--        app:layout_constraintStart_toStartOf=&quot;parent&quot;--&gt;</span>
<span class="s4">&lt;!--        app:layout_constraintTop_toTopOf=&quot;parent&quot;--&gt;</span>
<span class="s4">&lt;!--        android:src=&quot;@mipmap/ravelocator_icon_outer_foreground&quot; /&gt;--&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>